<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.css" rel="stylesheet" />
	</head>
	<style>
		.footerText{
			display: flex;
			justify-content: space-between;
		}
		.footerWrap{
			padding: 10px;
		}
	</style>

	<body>
		<script src="../../js/mui.min.js"></script>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">全部活动</h1>
		</header>
		<div class="mui-content" id='totalActiveDom'>
			<div class="mui-card" v-for="item in homenavList" @tap='enterActiveDetail'>
			
								<!--内容区-->
								<div class="mui-card-content">
									<img :src="item.img" style="width: 100%;vertical-align: middle;">
								</div>
								<!--页脚，放置补充信息或支持的操作-->
								<div class="footerWrap">
									<p>{{item.name}}</p>
									<div class="footerText">
										<span>{{item.message}}</span>
										<span>{{item.message}}</span>
									</div>
			
								</div>
			
							</div>
		</div>
		<script src="../../js/vue.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/main/totalActive.js" type="text/javascript" charset="utf-8"></script>
	</body>

</html>
